In [1]:
print('Hello World')

Hello World

**Variables**

In [2]:
a = 10
b = 10
c = 20
print(a)
print()

10

In [4]:
print(a,type(a),id(a))
print(b,type(b),id(b))
print(c,type(c),id(c))

10 <class 'int'> 140713159857248
10 <class 'int'> 140713159857248
20 <class 'int'> 140713159857568

In [5]:
"""
This is a documentation comment
"""
# This is an inline comment
a = 10
print(a,type(a))
a = 2.5
print(a,type(a))
a = "Akshay"
print(a,type(a))
a = 'Akki'
print(a,type(a))
a = True
print(a,type(a))
a = [10,'Akki',2.35]
print(a,type(a))
a = (10,2.3)
print(a,type(a))
a = {"a":101,"b":102}
print(a,type(a))

10 <class 'int'>
2.5 <class 'float'>
Akshay <class 'str'>
Akki <class 'str'>
True <class 'bool'>
[10, 'Akki', 2.35] <class 'list'>
(10, 2.3) <class 'tuple'>
{'a': 101, 'b': 102} <class 'dict'>

In [6]:
if = 5

SyntaxError: invalid syntax (<ipython-input-6-1a9bb92cc795>, line 1)

In [7]:
_a = 10.2
print(_a,type(_a))
age = 25
print(age,type(age))

10.2 <class 'float'>
25 <class 'int'>

In [8]:
a1,b1,c1 = 10,'Akki',3.56
print(a1,type(a1))
print(b1,type(b1))
print(c1,type(c1))

10 <class 'int'>
Akki <class 'str'>
3.56 <class 'float'>