In [1]:
print('Hello World')

Hello World

**Variables**

In [2]:
a = 10
b = 10
c = 20
print(a)
print()

10

In [4]:
print(a,type(a),id(a))
print(b,type(b),id(b))
print(c,type(c),id(c))

10 <class 'int'> 140713159857248
10 <class 'int'> 140713159857248
20 <class 'int'> 140713159857568

In [5]:
"""
This is a documentation comment
"""
# This is an inline comment
a = 10
print(a,type(a))
a = 2.5
print(a,type(a))
a = "Akshay"
print(a,type(a))
a = 'Akki'
print(a,type(a))
a = True
print(a,type(a))
a = [10,'Akki',2.35]
print(a,type(a))
a = (10,2.3)
print(a,type(a))
a = {"a":101,"b":102}
print(a,type(a))

10 <class 'int'>
2.5 <class 'float'>
Akshay <class 'str'>
Akki <class 'str'>
True <class 'bool'>
[10, 'Akki', 2.35] <class 'list'>
(10, 2.3) <class 'tuple'>
{'a': 101, 'b': 102} <class 'dict'>

In [6]:
if = 5

SyntaxError: invalid syntax (<ipython-input-6-1a9bb92cc795>, line 1)

In [7]:
_a = 10.2
print(_a,type(_a))
age = 25
print(age,type(age))

10.2 <class 'float'>
25 <class 'int'>

In [8]:
a1,b1,c1 = 10,'Akki',3.56
print(a1,type(a1))
print(b1,type(b1))
print(c1,type(c1))

10 <class 'int'>
Akki <class 'str'>
3.56 <class 'float'>

In [1]:
a = 10
b = 20

a,b = b,a
print("a = ",a," b = ",b)

a =  20  b =  10

In [2]:
a = input("Enter a name")
print(a,type(a))

Enter a name Akshay

Akshay <class 'str'>

In [3]:
b = int(input("Enter your age : "))
print(b,type(b))
salary = float(input("Enter your salary : "))
print(salary,type(salary))

Enter your age :  25

25 <class 'int'>

Enter your salary :  12345.66

12345.66 <class 'float'>

In [4]:
c = int(input("Enter a number : "))
print(c,type(c))

Enter a number :  akshay

ValueError: invalid literal for int() with base 10: 'akshay'

In [12]:
d = bool(int(input("true or false : ")))
print(d,type(d))

true or false :  0

False <class 'bool'>

In [10]:
a,b,c = 10,30,20
print(max(a,b,c))
print(min(a,b,c))

30
10

In [15]:
print("data : ",345.23,"/-")
print("data : ",53215.24,"/-")

data :  345.23 /-
data :  53215.24 /-

In [17]:
print("data : ",format(345.23,"10.2f"),"/-")
print("data : ",format(53215.24,"10.2f"),"/-")

data :      345.23 /-
data :    53215.24 /-

In [18]:
print(format(123,"5d"))
print(format(123))

  123
123

In [25]:
print(format(4523456789.5573,",.2f"))

4,523,456,789.56

In [29]:
print(format(21.34,"<10.2f"),"Rupees")
print(format(123.45,"<10.2f"),"Rupees")

21.34      Rupees
123.45     Rupees

**Operators**

In [6]:
#Aritmetic Op +,-,*,/,%,**,//
a = 10
b = 3
print("a + b ",a+b)
print("a - b ",a-b)
print("a * b ",a*b)
print("a / b ",a/b)
print("a % b ",a%b)
print("power",3**2)
print("Floor division : ",a//b)

a + b  13
a - b  7
a * b  30
a / b  3.3333333333333335
a % b  1
power 9
Floor division :  3

In [12]:
#Assignment Op +=,-=,*=,/=,//=,**=,%=

a = 5
a += 1     # ++
print(a)
a -= 1    # --
print(a)
a *= 2
print(a)
a /= 3
print(a)
a = 10
a //= 3
print(a)
a **= 2
print(a)

6
5
10
3.3333333333333335
3
9

In [14]:
# Multiple line code
a = 100 + 3 - 2 * 2 + \
4 / 2 - 12 + 1
print(a)

90.0

In [15]:
# Multiple line print
print("The point of using Lorem Ipsum is that it has a more-or-less normal \
distribution of letters, as opposed to using 'Content here, content here', \
making it look like readable English. Many desktop publishing packages and web\
page editors now use Lorem Ipsum as their default model text, and a search for\
'lorem ipsum' will uncover many web sites still in their infancy. Various versions\
have evolved over the years, sometimes by accident, sometimes on purpose \
(injected humour and the like).")

The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and webpage editors now use Lorem Ipsum as their default model text, and a search for'lorem ipsum' will uncover many web sites still in their infancy. Various versionshave evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

In [20]:
# False values in python
a = ""
print(bool(a))
a = 0
print(bool(a))
a = 0.0
print(bool(a))
a = None # None -> Null or Undefined like JavaScript
print(bool(a))
a = []
print(bool(a))
a = ()
print(bool(a))
a = {}
print(bool(a))
a = False
print(bool(a))

False
False
False
False
False
False
False
False

In [21]:
# True values in python
a = "a"
print(bool(a))
a = 2
print(bool(a))
a = 0.2
print(bool(a))
a = ['akki']
print(bool(a))
a = (10.3)
print(bool(a))
a = {"a":1}
print(bool(a))
a = True
print(bool(a))

True
True
True
True
True
True
True

In [24]:
# Relational Op >,<,>=,<=,==

print("10 > 3",10>3)
print("10 < 3",10<3)
print("10 >= 3",10>=3)
print("10 <= 3",10<=3)
print("10 == 3",10==3)
print("3 == '3'",3=='3')

10 > 3 True
10 < 3 False
10 >= 3 True
10 <= 3 False
10 == 3 False
3 == '3' False

In [30]:
# Logical Op
a = (10>3) and (3>5)
print(a)
a = (10>3) or (3>5)
print(a)
a = not(10>3)
print(a)
a = not((10>3) or (3>5))
print(a)

False
True
False
False

In [32]:
# Range Checker
marks = 101
a = (100>=marks) and (marks>=0)
print(a)
a = (100>= marks >=0)
print(a)

False
False

**String**

In [4]:
x = "Hello World"
print(x,type(x))
x = 'Hello World'
print(x,type(x))
x = """The point of using Lorem Ipsum is that it has a more-or-less normal 
distribution of letters, as opposed to using 'Content here, content here', 
making it look like readable English. Many desktop publishing packages and web
page editors now use Lorem Ipsum as their default model text, and a search for
'lorem ipsum' will uncover many web sites still in their infancy. Various versions
have evolved over the years, sometimes by accident, sometimes on purpose 
(injected humour and the like)."""
print(x)
x = '''The point of using Lorem Ipsum is that it has a more-or-less normal 
distribution of letters, as opposed to using 'Content here, content here', 
making it look like readable English. Many desktop publishing packages and web
page editors now use Lorem Ipsum as their default model text, and a search for
'lorem ipsum' will uncover many web sites still in their infancy. Various versions
have evolved over the years, sometimes by accident, sometimes on purpose 
(injected humour and the like).'''
print()
print(x)

Hello World <class 'str'>
Hello World <class 'str'>
The point of using Lorem Ipsum is that it has a more-or-less normal
distribution of letters, as opposed to using 'Content here, content here',
making it look like readable English. Many desktop publishing packages and web
page editors now use Lorem Ipsum as their default model text, and a search for
'lorem ipsum' will uncover many web sites still in their infancy. Various versions
have evolved over the years, sometimes by accident, sometimes on purpose
(injected humour and the like).

The point of using Lorem Ipsum is that it has a more-or-less normal
distribution of letters, as opposed to using 'Content here, content here',
making it look like readable English. Many desktop publishing packages and web
page editors now use Lorem Ipsum as their default model text, and a search for
'lorem ipsum' will uncover many web sites still in their infancy. Various versions
have evolved over the years, sometimes by accident, sometimes on purpose
(injected humour and the like).

In [5]:
print("Length of string x is : ",len(x))

Length of string x is :  491

In [11]:
x="'Akshay'"
print(x)
x='"Akshay"'
print(x)
x="\"Akshay\""
print(x)
x='\'Akshay\''
print(x)

'Akshay'
"Akshay"
"Akshay"
'Akshay'

In [17]:
x = "Akshay" + " " + 'Soni'
print(x)
a = 2
x = "Akshay" + " " + '5' + str(a)
print(x)

Akshay Soni
Akshay 52

In [19]:
#Repetation
x = "Hello " * 3
print(x,len(x))

Hello Hello Hello  18

In [25]:
x = "Akshay" + " Soni"
# x[0] = 'a'   not possible
print(x[0])
print("Soni" in x)
print("y S" in x)
print("Sumit" not in x)
print(x[-1])

A
True
True
True
i

In [29]:
x = "Akshay Soni"
s1 = slice(0,6)
print(x[s1])
print(x[7:11])
print(x[:6])

Akshay
Soni
Akshay

In [36]:
a = 10
b = 6.3
c = "Hello"
print("a = ",a,"b = ",b,"c = ",c)
print("a = %d b = %f c = %s"%(a,b,c))
print(c,"world",sep = "\t",end = " .....!")

a =  10 b =  6.3 c =  Hello
a = 10 b = 6.300000 c = Hello
Hello	world .....!

In [39]:
print(format("Python",">10s"))

    Python

**String Methods**

In [41]:
x = "Akshay Soni"
print(x.upper())
print(x.lower())

AKSHAY SONI
akshay soni

In [50]:
s = "abC123"
print(s.isalnum())
s = "Akki1"
print(s.isalpha())
s = "12345"
print(s.isdigit())
s = "AKKI"
print(s.isupper())
s = "akki"
print(s.islower())

True
False
True
True
True

In [61]:
s = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
print(len(s))
print(s.startswith("Lorem"))
print(s.endswith("Ipsum."))
print(s.find("Ipsum"))
print(s.rfind("Ipsum"))
print(s.count("Ipsum"))
s = s.replace("Ipsum",input("what to put"))
print(s)
s = s.capitalize()
print()
print(s)
s = s.title()
print()
print(s)

574
True
True
6
568
4

what to put abcd

Lorem abcd is simply dummy text of the printing and typesetting industry. Lorem abcd has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem abcd passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem abcd.

Lorem abcd is simply dummy text of the printing and typesetting industry. lorem abcd has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. it has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. it was popularised in the 1960s with the release of letraset sheets containing lorem abcd passages, and more recently with desktop publishing software like aldus pagemaker including versions of lorem abcd.

Lorem Abcd Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Abcd Has Been The Industry'S Standard Dummy Text Ever Since The 1500S, When An Unknown Printer Took A Galley Of Type And Scrambled It To Make A Type Specimen Book. It Has Survived Not Only Five Centuries, But Also The Leap Into Electronic Typesetting, Remaining Essentially Unchanged. It Was Popularised In The 1960S With The Release Of Letraset Sheets Containing Lorem Abcd Passages, And More Recently With Desktop Publishing Software Like Aldus Pagemaker Including Versions Of Lorem Abcd.

In [65]:
s = "   ----Hello World----       "
print(s,"len",len(s))
s = s.strip()
print(s,"len",len(s))
s = s.strip("-")
print(s,"len",len(s))

   ----Hello World----        len 29
----Hello World---- len 19
Hello World len 11

In [72]:
print("|",s.center(19),"|",sep = "")
print("|",s.ljust(19),"|",sep = "")
print("|",s.rjust(19),"|",sep = "")

|    Hello World    |
|Hello World        |
|        Hello World|

**Number & Number Methods**

In [3]:
a = 5
print(a,type(a))
a = 3.24
print(a,type(a))
a = 2 + 3j
print(a,type(a))

5 <class 'int'>
3.24 <class 'float'>
(2+3j) <class 'complex'>

In [6]:
a = max(2,6,12,5,18)
print(a)
a = min(2.3,6.4,12.11,5.25,18.6)
print(a)

18
2.3

In [10]:
a = -3
print(abs(a))
print(pow(3,2))
a = 5
b = 2
print(pow(a,b))

3
9
25

In [13]:
a = 7.5
print(round(a))
a = 7.3
print(round(a))
a = 7.025
print(round(a))

8
7
7

In [15]:
a = 3.14159
print(round(a,2))
a = 2.1782
print(round(a,2))

3.14
2.18

In [27]:
import math
print(math.pi)
print(math.e)
print(math.ceil(3.22))
print(math.floor(3.62))
print(math.fabs(-5))
print(math.sqrt(10))

3.141592653589793
2.718281828459045
4
3
5.0
3.1622776601683795

In [28]:
print(math.log(2))

0.6931471805599453

In [30]:
print(math.log(3,3))

1.0

In [34]:
print(math.sin(math.pi/2))
print(math.cos(0))
print(math.tan(45))

1.0
1.0
1.6197751905438615

In [42]:
p = 1899.99
r = 5
t = 2

si = (p * r * t)/100
#si = round(si,2)
print("Simple interest at the end of",t,"years is",format(si,".2f"))
#189.99900000000002 is rounded of

Simple interest at the end of 2 years is 190.00

**Control Statement**

In [4]:
num = int(input("Enter a number"))
if num > 0:
    print(num,"is a positive number")
elif num == 0:
    print(num,"is Zero")
else:
    print(num,"is a negative number")
print("bye.....")

Enter a number 0

0 is Zero
bye.....

In [12]:
marks = 81
if ((marks >= 0) and (100 >= marks)):
#if (100 >= marks >= 0):
    if (100 >= marks > 80):
        print("Grade A")
    elif (80 >= marks > 50):
        print("Grade B")
    elif (50 >= marks >= 35):
        print("Grade Pass")
    else:
        print ("Grade Fail")
else:
    print("Marks are invalid")

Grade A

In [2]:
#Calc using if - else
a = float(input("Enter first number : "))
b = float(input("Enter second number : "))
op = input("Enter Operator : ")
if op == '+':
    print("Addition of",a,"and",b,"is",(a+b))
elif op == '-':
    print("Subtraction of",a,"and",b,"is",(a-b))
elif op == '*':
    print("Multiplication of",a,"and",b,"is",(a*b))
elif op == '/':
    print("Divison of",a,"and",b,"is",(a/b))
else:
    print("Invalid Operator")

Enter first number :  12
Enter second number :  13
Enter Operator :  f

Invalid Operator

**Loops**

In [7]:
i = 0
while i < 10:
    print(i,end=" ")
    i += 1
print("\n------------------------")
while i > 0:
    print(i,end=" ")
    i -= 1
else:
    print("end at",i)

0 1 2 3 4 5 6 7 8 9
------------------------
10 9 8 7 6 5 4 3 2 1 end at 0

In [10]:
a = "123"
#  while not a.isalpha()
while a.isalnum() or a.isdigit():
    a = input("enter a string")
print(a,type(a))

enter a string 132
enter a string akki123
enter a string Akshay soni

Akshay soni <class 'str'>

In [1]:
keep_repeating = 'y'
while keep_repeating.lower() == 'y':
    a = int(input("Enter a number"))
    if a>0:
        print(a,"is positive")
    elif a<0:
        print(a,"is negative")
    else:
        print(a,"is zero")
    keep_repeating = '2'
    while keep_repeating.lower() != 'y' and keep_repeating.lower() != 'n':
        keep_repeating = input("press 'y' to contine and any 'n' to exit")

Enter a number 2

2 is positive

press 'y' to contine and any 'n' to exit g
press 'y' to contine and any 'n' to exit n

In [6]:
for i in range(0,11,1):
    print(i,end=" ")
print("END")
for i in range(1,11,2):
    print(i,end=" ")
else:
    print("END",i)

0 1 2 3 4 5 6 7 8 9 10 END
1 3 5 7 9 END 9

In [7]:
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [13]:
for i in range(0,11):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [16]:
for i in range(11):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [18]:
for i in "Akshay Soni":
    print(i,end="")

Akshay Soni

In [20]:
for i in [21,34,62,"Akshay"]:
    print(i)

21
34
62
Akshay

In [23]:
for i in range(1,21):
    print(i,end=" ")
    if i == 10:
        break
print("\n-------------------")
for i in range(1,21):
    if i == 10:
        break
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10
-------------------
1 2 3 4 5 6 7 8 9

In [24]:
for i in range(1,21):
    print(i,end=" ")
    if i == 10:
        continue
print("\n-------------------")
for i in range(1,21):
    if i == 10:
        continue
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
-------------------
1 2 3 4 5 6 7 8 9 11 12 13 14 15 16 17 18 19 20

In [29]:
for i in range(1,21):
    if i>9 or i<14:
        continue
    print(i,end=" ")
else:
    print("END")
print("\n------------------------")
for i in range(1,21):
    #if i>9 and i<14:
    if 14>i>9:
        continue
    print(i,end=" ")

END

------------------------
1 2 3 4 5 6 7 8 9 14 15 16 17 18 19 20

In [30]:
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [31]:
for i in range(1,5):
    if i == 3:
        break
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4

In [33]:
for i in range(1,6):
    print("*" * i)
print("--------------------")
for i in range(1,6):
    print(str(i) * i)

*
**
***
****
*****
--------------------
1
22
333
4444
55555

**User defined functions**

In [5]:
def display():
    print("Hello World")

def display2():
    print("Hello World.....2")
    return "UDF2"

print("UDF.....")
display()
#print(display())
a = display()
print(a)
print("-----------------------")
display2()
#print(display2())
a = display2()
print(a)

UDF.....
Hello World
Hello World
None
-----------------------
Hello World.....2
Hello World.....2
UDF2

In [7]:
def ageCheck(age):
    if age>18:
        print("ADULT")
    else:
        return "MINOR"

p = ageCheck(10)
print(p)
p = ageCheck(19)
print(p)

MINOR
ADULT
None

In [3]:
def ageChecker(age = 0):
    ty = str(type(age)) # local variable
    print(ty)
    if 'int' in ty:
        if age > 18:
            return "ADULT"
        else:
            return "MINOR"
    else:
        return "ERROR : must be a number"

p = ageChecker(int(input("Enter your age")))
print(p)
p = ageChecker("a")
print(p)
p = ageChecker()
print(p)

Enter your age 12

<class 'int'>
MINOR
<class 'str'>
ERROR : must be a number
<class 'int'>
MINOR

In [6]:
#default value parameter
def addition(a = 0,b = 0):
    if a>0 and b>0:
        print("a =",a,"b =",b)
        return a+b
    else:
        print("a =",a,"b =",b)
        return 0

p = addition(10,20)
print(p)
p = addition(20)
print(p)
p = addition()
print(p)
p = addition(b=25)
print(p)
p = addition(b = 30,a = 20)
print(p)

a = 10 b = 20
30
a = 20 b = 0
0
a = 0 b = 0
0
a = 0 b = 25
0
a = 20 b = 30
50

In [13]:
def display(a=0,b=0,c=0):
    print("a =",a,"b =",b,"c =",c)

display(10,21,45)
display(c = 25,b = 10,a = 12)
display(10,c=25,b=13)
display(c=25,b=13)

a = 10 b = 21 c = 45
a = 12 b = 10 c = 25
a = 10 b = 13 c = 25
a = 0 b = 13 c = 25

In [16]:
"""

+--------+
| Akshay |
+--------+

"""
def customPrint(message):
    print("+",end="")
    for i in range(0,len(message)+2):
        print("-",end="")
    print("+")
    print("|",message,"|")
    print("+",end="")
    for i in range(0,len(message)+2):
        print("-",end="")
    print("+")

customPrint("Akshay Soni")
customPrint("Java")
customPrint("Python")

+-------------+
| Akshay Soni |
+-------------+
+------+
| Java |
+------+
+--------+
| Python |
+--------+

In [17]:
"""
def mul(a,b):
    return a*b
"""

x = lambda a,b : a*b
print(x(2,3)

6

In [18]:
add = lambda a,b : a+b
sub = lambda a,b : a-b
mul = lambda a,b : a*b
div = lambda a,b : a/b

def Calc():
    keep_repeating = 'y'
    while keep_repeating.lower() == 'y':
        x = int(input("Enter first number"))
        y = int(input("Enter second number"))
        op = input("Enter op [+,-,*,/]")

        while (op != '+' and op != '-' and op != '*' and op != '/'):
            op = input("Enter op [+,-,*,/]")

        if op == '+':
            print(add(x,y))
        elif op == "-":
            print(sub(x,y))
        elif op == "*":
            print(mul(x,y))
        else:
            print(div(x,y))
        
        keep_repeating = input("Press 'y' to continue 'n' to exit")
        while keep_repeating.lower() != 'y' and keep_repeating.lower() != 'n':
            keep_repeating = input("Press 'y' to continue 'n' to exit")


def main():
    Calc()
    
main()

Enter first number 12
Enter second number 13
Enter op [+,-,*,/] j
Enter op [+,-,*,/] +

25

Press 'y' to continue 'n' to exit h
Press 'y' to continue 'n' to exit y
Enter first number 10
Enter second number 2
Enter op [+,-,*,/] *

20

Press 'y' to continue 'n' to exit n

**List**

In [1]:
a = []
print(a,type(a))

[] <class 'list'>

In [2]:
a = [1,2,3]
print(a)

[1, 2, 3]

In [3]:
a = ["Akshay",3.14,25]
print(a)

['Akshay', 3.14, 25]

In [6]:
list1 = list()
print(list1)
list1 = list([1,2,3])
print(list1)
list1 = list("Akshay")
print(list1)

[]
[1, 2, 3]
['A', 'k', 's', 'h', 'a', 'y']

In [8]:
list1 = list([1,2,3])
list2 = ['a','b','c']
#a = [[1,2,3],['a','b','c']]
a =[list1,list2]
print(a)

[[1, 2, 3], ['a', 'b', 'c']]

In [10]:
a = list(range(11))
print(a)
a = list(range(1,11,2))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [11]:
a = list(range(1,11,2))
print(a,len(a))

[1, 3, 5, 7, 9] 5

In [12]:
a = list(range(1,11,2))
print(a,"Sum =",sum(a))

[1, 3, 5, 7, 9] Sum = 25

In [13]:
a = list(range(1,11,2))
print(a,"Max is",max(a))
a = list(range(1,11,2))
print(a,"Min is",min(a))

[1, 3, 5, 7, 9] Max is 9
[1, 3, 5, 7, 9] Min is 1

In [15]:
a = list(range(1,11,2))
print(a[0])
print(a[5])

1

IndexError: list index out of range

In [17]:
list1 = ['Java','CPP','Python']
print(list1,id(list1))
list1[1] = 'JS'
print(list1,id(list1))

['Java', 'CPP', 'Python'] 2844584474696
['Java', 'JS', 'Python'] 2844584474696

In [19]:
a = list(range(1,11,2))
for i in a:
    print(i)
for i in a:
    i += 1
print(a)

1
3
5
7
9
[1, 3, 5, 7, 9]

In [22]:
a = [1,3,5,7,9]
print(a[1:4])
print(a[:4])
print(a[2:])

[3, 5, 7]
[1, 3, 5, 7]
[5, 7, 9]

In [24]:
list1 = ['Java','CPP','Python']
a = 'CPP' in list1
print(a)
a = 'JS' not in list1
print(a)

True
True

In [25]:
a = [1,3,5]
b = [2,4,6]
c = a + b
print(c)

[1, 3, 5, 2, 4, 6]

In [26]:
a = [1,3,5]
b = [2,4,6]
#a = a + b
a += b
print(a)

[1, 3, 5, 2, 4, 6]

In [28]:
a = [1,2]
b = a * 4
print(b)
#a = a * 4
a *= 4
print(a)

[1, 2, 1, 2, 1, 2, 1, 2]
[1, 2, 1, 2, 1, 2, 1, 2]

In [29]:
#list comprehension
a = [i**2 for i in range(1,6)]
print(a)

[1, 4, 9, 16, 25]

In [30]:
a = [i for i in range(1,11) if i % 2 == 0]
print(a)

[2, 4, 6, 8, 10]

In [31]:
a = [1,6,7,5]
a.append(10)
print(a)

[1, 6, 7, 5, 10]

In [32]:
a = [1,6,7,5]
a.insert(2,10)
print(a)

[1, 6, 10, 7, 5]

In [34]:
a = [1,3,5,7,9,1,3]
print(a.index(3))
a = ['Java','Python',"CPP",'Python']
print(a.index('Python'))

1
1

In [35]:
a = ['Java','Python',"CPP",'Python']
a.remove('Python')
print(a)

['Java', 'CPP', 'Python']

In [36]:
a = ['Java','Python',"CPP",'Python']
print(a.count('Python'))

2

In [37]:
a = ['Java','Python',"CPP",'Python']
print(a)
a.clear()
print(a)

['Java', 'Python', 'CPP', 'Python']
[]

In [40]:
a = [12,-5,14,2,-11,20]
print(a)
a.sort()
print(a)
a = ['str','int','float','list']
a.sort()
print(a)

[12, -5, 14, 2, -11, 20]
[-11, -5, 2, 12, 14, 20]
['float', 'int', 'list', 'str']

In [42]:
a = [12,-5,14,2,-11,20]
print(a)
a.reverse()
print(a)
#descending sort
a.sort()
a.reverse()
print(a)

[12, -5, 14, 2, -11, 20]
[20, -11, 2, 14, -5, 12]
[20, 14, 12, 2, -5, -11]

In [45]:
a = [1,2,3,4,1,3]
#print(a.pop(5))
a.pop(5)
print(a)

[1, 2, 3, 4, 1]

**Tuples**

In [4]:
a = ()
print(a,type(a))
a = ('Akshay',)
print(a,type(a))
a= ('Akshay','Soni')
print(a,type(a))

() <class 'tuple'>
('Akshay',) <class 'tuple'>
('Akshay', 'Soni') <class 'tuple'>

In [5]:
a = tuple("Akshay")
print(a)

('A', 'k', 's', 'h', 'a', 'y')

In [6]:
b = [1,2,3,4]
a = tuple(b)
print(a)

(1, 2, 3, 4)

In [7]:
a = tuple(range(10))
print(a)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [8]:
a = tuple([i * 2 for i in range(1,11)])
print(a)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [10]:
#tuple unpacking
a,b,c = (1,2,'Akshay')
print("a ",a,"b ",b,"c ",c)

a  1 b  2 c  Akshay

In [11]:
a = (1,2,'Akshay')
b = list(a)
print(b)

[1, 2, 'Akshay']

In [15]:
a = (1,2,'Akshay',3,4)
#a[2] = 'hello' not possible
print(a[2])
print(a[2:])

Akshay
('Akshay', 3, 4)

In [17]:
a = ('Java','Python','CPP')
print('Java' in a)
print('SQL' not in a)

True
True

In [20]:
a = (1,2,3,4,4)
print(len(a))
print(sum(a))
print(max(a))
print(min(a))
print(a.count(4))

5
14
4
1
2

In [24]:
a = (1,2,3,4,4)
for i in a:
    print(i,end=" ")
b = a*2
print()
print(b)
a = (1,2,3,4,4)
b = (500,600)
c = a + b
print(c)

1 2 3 4 4
(1, 2, 3, 4, 4, 1, 2, 3, 4, 4)
(1, 2, 3, 4, 4, 500, 600)

**Set**

In [25]:
a = {}
print(a,type(a))

{} <class 'dict'>

In [26]:
a = {1,2,3}
print(a,type(a))

{1, 2, 3} <class 'set'>

In [27]:
a = {2,'alpha',3.14}
print(a)

{'alpha', 2, 3.14}

In [28]:
a = set("akshay")
print(a)

{'k', 's', 'a', 'y', 'h'}

In [29]:
a = [1,2,3,4,3,1]
b = set(a)
print(b)

{1, 2, 3, 4}

In [30]:
a = (1,2,3,4,1,2)
b = set(a)
print(b)

{1, 2, 3, 4}

In [31]:
a = set([i*2+3 for i in range(0,5)])
print(a)

{3, 5, 7, 9, 11}

In [32]:
a = {1,2,3,4,5}
print(len(a))
print(max(a))
print(min(a))
print(sum(a))

5
5
1
15

In [34]:
a = {1,2,3,4}
print(a)
a.add(2)
a.add(6)
print(a)

{1, 2, 3, 4}
{1, 2, 3, 4, 6}

In [35]:
a = {1,2,3,4}
print(a)
a.remove(2)
a.remove(6)
print(a)

{1, 2, 3, 4}

KeyError: 6

In [36]:
a = {1,2,3,4}
print(a)
a.discard(2)
a.discard(6)
print(a)

{1, 2, 3, 4}
{1, 3, 4}

In [38]:
a = {1,2,3,4}
a.update([2,6])
print(a)

{1, 2, 3, 4, 6}

In [39]:
a = {1,2,3,4}
a.clear()
print(a)

set()

In [40]:
a = {1,2,3,4}
print(1 in a)
print(6 not in a)

True
True

In [41]:
a = {1,2,3,4}
for i in a:
    print(i,end=" ")

1 2 3 4

In [44]:
a = {1,2,3,4}
b = {3,4,5,6}
c = a.union(b)
print(c)
d = a | b
print(d)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [45]:
a = {1,2,3,4}
b = {3,4,5,6}
c = a.intersection(b)
print(c)
d = a & b
print(d)

{3, 4}
{3, 4}

In [49]:
a = {1,2,3,4}
b = {3,4,5,6}
c = a.difference(b)
print(c)
c = a - b
print(c)
c = b.difference(a)
print(c)
c = b - a
print(c)

{1, 2}
{1, 2}
{5, 6}
{5, 6}

In [50]:
a = {1,2,3,4}
b = {3,4,5,6}
c = a ^ b
print(c)

{1, 2, 5, 6}

**Dictionary**

In [1]:
a = {}
print(a,type(a))

{} <class 'dict'>

In [2]:
a = {'Akshay':25000,'Sumit':30000,'Vikas':35000}
print(a)

{'Akshay': 25000, 'Sumit': 30000, 'Vikas': 35000}

In [5]:
a = {'Akshay':25000,'Sumit':30000,'Vikas':35000}
print(a['Sumit'])

30000

In [7]:
a = {'Akshay':25000,'Sumit':30000}
print(a)
a['Vikas'] = 35000
print(a)

{'Akshay': 25000, 'Sumit': 30000}
{'Akshay': 25000, 'Sumit': 30000, 'Vikas': 35000}

In [8]:
a = {'Akshay':25000,'Sumit':30000,'Vikas':35000}
print(a)
del a['Vikas']
print(a)

{'Akshay': 25000, 'Sumit': 30000, 'Vikas': 35000}
{'Akshay': 25000, 'Sumit': 30000}

In [9]:
a = {'Akshay':25000,'Sumit':30000,'Vikas':35000}
print(len(a))

3

In [10]:
a = {'Akshay':25000,'Sumit':30000,'Vikas':35000}
for k in a:
    print(k)

Akshay
Sumit
Vikas

In [11]:
a = {'Akshay':25000,'Sumit':30000,'Vikas':35000}
for k in a:
    print(k,a[k])

Akshay 25000
Sumit 30000
Vikas 35000

In [13]:
a = {'Akshay':25000,'Sumit':30000,'Vikas':35000}
print('Akshay' in a)
print('Java' not in a)

True
True

In [15]:
a = {'Akshay':25000,'Sumit':30000,'Vikas':35000}
print(a.keys())
b = tuple(a.keys())
print(b)

dict_keys(['Akshay', 'Sumit', 'Vikas'])
('Akshay', 'Sumit', 'Vikas')

In [16]:
a = {'Akshay':25000,'Sumit':30000,'Vikas':35000}
print(a.values())
b = list(a.values())
print(b)

dict_values([25000, 30000, 35000])
[25000, 30000, 35000]

In [18]:
a = {'Akshay':25000,'Sumit':30000,'Vikas':35000}
print(a.items())
b = list(a.items())
print(b)

dict_items([('Akshay', 25000), ('Sumit', 30000), ('Vikas', 35000)])
[('Akshay', 25000), ('Sumit', 30000), ('Vikas', 35000)]

In [19]:
a = {'Akshay':25000,'Sumit':30000,'Vikas':35000}
for k,v in a.items():
    print(k,"=>",v)

Akshay => 25000
Sumit => 30000
Vikas => 35000

In [25]:
a = {'Akshay':25000,'Sumit':30000,'Vikas':35000}
print(a['Sumit'])
#print(a['Java'])
print(a.get('Akshay'))
print(a.get('Java'))
print(a.get('Python','NA'))

30000
25000
None
NA

In [27]:
a = {'Akshay':25000,'Sumit':30000,'Vikas':35000}
print(a.pop('Vikas'))
print(a)

35000
{'Akshay': 25000, 'Sumit': 30000}

In [28]:
a = {'Akshay':25000,'Sumit':30000,'Vikas':35000}
print(a.popitem())
print(a)

('Vikas', 35000)
{'Akshay': 25000, 'Sumit': 30000}

In [31]:
a = {'Akshay':25000,'Sumit':30000,'Vikas':35000}
print(a,id(a))
b = a
print(b,id(b))
c = a.copy()
print(c,id(c))

{'Akshay': 25000, 'Sumit': 30000, 'Vikas': 35000} 2142325623184
{'Akshay': 25000, 'Sumit': 30000, 'Vikas': 35000} 2142325623184
{'Akshay': 25000, 'Sumit': 30000, 'Vikas': 35000} 2142325565048

In [32]:
a = {'Akshay':25000,'Sumit':30000,'Vikas':35000}
a.clear()
print(a)

{}

**File I/O**

In [3]:
f = open("demo.txt","w")
f.write("Hello")
f.write(" World\n")
print("Hello",file = f)
print("World",file = f)
f.close()

In [4]:
f = open("demo.txt","r")
print(f.read())
f.close()

Hello World
Hello
World

In [5]:
f = open("demo.txt","r")
print(f.read(4))
print(f.read(6))
f.close()

Hell
o Worl

In [6]:
f = open("demo.txt","r")
print(f.readlines())
f.close()

['Hello World\n', 'Hello\n', 'World\n']

In [7]:
f = open("demo.txt","r")
print(f.readline())
print(f.readline())
f.close()

Hello World

Hello

In [9]:
f = open("demo.txt","r")
for line in f:
    print(line,end="")
f.close()

Hello World
Hello
World

In [10]:
f = open("demo.txt","a")
f.write("My name is\n")
print("Akshay Soni",file = f)
f.close()