In [1]:
print('Hello World')

Hello World

**Variables**

In [2]:
a = 10
b = 10
c = 20
print(a)
print()

10

In [4]:
print(a,type(a),id(a))
print(b,type(b),id(b))
print(c,type(c),id(c))

10 <class 'int'> 140713159857248
10 <class 'int'> 140713159857248
20 <class 'int'> 140713159857568

In [5]:
"""
This is a documentation comment
"""
# This is an inline comment
a = 10
print(a,type(a))
a = 2.5
print(a,type(a))
a = "Akshay"
print(a,type(a))
a = 'Akki'
print(a,type(a))
a = True
print(a,type(a))
a = [10,'Akki',2.35]
print(a,type(a))
a = (10,2.3)
print(a,type(a))
a = {"a":101,"b":102}
print(a,type(a))

10 <class 'int'>
2.5 <class 'float'>
Akshay <class 'str'>
Akki <class 'str'>
True <class 'bool'>
[10, 'Akki', 2.35] <class 'list'>
(10, 2.3) <class 'tuple'>
{'a': 101, 'b': 102} <class 'dict'>

In [6]:
if = 5

SyntaxError: invalid syntax (<ipython-input-6-1a9bb92cc795>, line 1)

In [7]:
_a = 10.2
print(_a,type(_a))
age = 25
print(age,type(age))

10.2 <class 'float'>
25 <class 'int'>

In [8]:
a1,b1,c1 = 10,'Akki',3.56
print(a1,type(a1))
print(b1,type(b1))
print(c1,type(c1))

10 <class 'int'>
Akki <class 'str'>
3.56 <class 'float'>

In [1]:
a = 10
b = 20

a,b = b,a
print("a = ",a," b = ",b)

a =  20  b =  10

In [2]:
a = input("Enter a name")
print(a,type(a))

Enter a name Akshay

Akshay <class 'str'>

In [3]:
b = int(input("Enter your age : "))
print(b,type(b))
salary = float(input("Enter your salary : "))
print(salary,type(salary))

Enter your age :  25

25 <class 'int'>

Enter your salary :  12345.66

12345.66 <class 'float'>

In [4]:
c = int(input("Enter a number : "))
print(c,type(c))

Enter a number :  akshay

ValueError: invalid literal for int() with base 10: 'akshay'

In [12]:
d = bool(int(input("true or false : ")))
print(d,type(d))

true or false :  0

False <class 'bool'>

In [10]:
a,b,c = 10,30,20
print(max(a,b,c))
print(min(a,b,c))

30
10

In [15]:
print("data : ",345.23,"/-")
print("data : ",53215.24,"/-")

data :  345.23 /-
data :  53215.24 /-

In [17]:
print("data : ",format(345.23,"10.2f"),"/-")
print("data : ",format(53215.24,"10.2f"),"/-")

data :      345.23 /-
data :    53215.24 /-

In [18]:
print(format(123,"5d"))
print(format(123))

  123
123

In [25]:
print(format(4523456789.5573,",.2f"))

4,523,456,789.56

In [29]:
print(format(21.34,"<10.2f"),"Rupees")
print(format(123.45,"<10.2f"),"Rupees")

21.34      Rupees
123.45     Rupees